name: aura-app

services:
  app:
    build: .
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/code/app
      - ./scripts:/code/scripts
    depends_on:
      - db
      - redis
    networks:
      - aura

  instagram_worker:
    build: .
    env_file:
      - ./.env
    command: ["python", "-m", "app.workers.instagram_download_worker"]
    volumes:
      - ./app:/code/app
    depends_on:
      - db
      - redis
    networks:
      - aura

  llm_worker:
    build: .
    env_file:
      - ./.env
    command: ["python", "-m", "app.workers.llm_worker"]
    volumes:
      - ./app:/code/app
    depends_on:
      - db
      - redis
    networks:
      - aura

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - aura

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    networks:
      - aura

  mailcrab:
    image: marlonb/mailcrab:latest
    container_name: mailcrab_server
    ports:
      - "1080:1080"
      - "1025:1025"
    networks:
      - aura

volumes:
  postgres_data:
  redis_data:

networks:
  aura:
    name: aura
