name: aura-app

services:
  app:
    build: .
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/code/app
      - ./scripts:/code/scripts
    depends_on:
      - db
      - redis

  instagram_worker:
    build: .
    env_file:
      - ./.env
    command: ["python", "-m", "app.workers.instagram_download_worker"]
    volumes:
      - ./app:/code/app
    depends_on:
      - db
      - redis

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

volumes:
  postgres_data:
  redis_data: